<div class="content-container">

  <div class="form-container">

    <div class="card-container">

      <div class="card-front">
        <div class="card-number">1234  5678  9101  1121</div>
        <div class="card-owner">Edimat Eszter</div>
        <div class="card-exp">09/23</div>
      </div>
    </div>

    <form action="">

      <div class="form-row">
        <label for="card-number">Kártyaszám</label>
        <input type="text" id="card-number">
      </div>

      <div class="form-row">
        <label for="card-owner">Kártyabirtokos neve</label>
        <input type="text" id="card-owner">
      </div>

      <div class="form-row-columns">
        <div class="form-row card-exp">
          <label for="card-exp-year">Lejárati dátum</label>
          <input type="text" id="card-exp-year">
          <span>/</span>
          <input type="text" id="card-exp-month">
        </div>

        <div class="form-row card-cvv">
          <label for="card-cvv">CVV</label>
          <input type="text" id="card-cvv">
        </div>
      </div>

      <div class="form-row">
        <label for="card-phone">Telefonszám</label>
        <input type="text" id="card-phone">
      </div>

      <div class="buttons">
        <button type="submit">Küldés</button>
      </div>

    </form>
  </div>

</div>
