<div class="content-container">

  <div class="form-container">

    <div class="card-container">

      <div class="card-front">
        <div class="card-number">{{cardNumber}}</div>
        <div class="card-owner">{{cardOwner}}</div>
        <div class="card-exp">{{cardExpYear}}/{{cardExpMonth}}</div>
      </div>
    </div>

    <form action="">

      <div class="form-row">
        <label for="cardNumber">Kártyaszám</label>
        <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="cardNumber">
      </div>

      <div class="form-row">
        <label for="cardOwner">Kártyabirtokos neve</label>
        <input type="text" id="cardOwner" name="cardOwner" [(ngModel)]="cardOwner">
      </div>

      <div class="form-row-columns">
        <div class="form-row card-exp">
          <label for="cardExpYear">Lejárati dátum</label>
          <input type="text" id="cardExpYear" name="cardExpYear" [(ngModel)]="cardExpYear">
          <span>/</span>
          <input type="text" id="cardExpMonth" name="cardExpMonth" [(ngModel)]="cardExpMonth">
        </div>

        <div class="form-row card-cvv">
          <label for="cardCVV">CVV</label>
          <input type="text" id="cardCVV" name="cardCVV" [(ngModel)]="cardCVV">
        </div>
      </div>

      <div class="form-row">
        <label for="cardPhone">Telefonszám</label>
        <input type="text" id="cardPhone" name="cardPhone" [(ngModel)]="cardPhone">
      </div>

      <div class="buttons">
        <button type="submit">Küldés</button>
      </div>

    </form>
  </div>

</div>
